h1 {
  padding-top: 20px;
  line-height: 0px;
}

button {
  width: 160px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#coverImg {
  width: 200px;
  height: 300px;
  box-shadow: 0px 2px 40px -20px rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  display: block;
}

#descriptionDiv {
  margin: 20px;
  max-width: 600px;
}