h2 {
  margin-left: 40px;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

#noBooksDiv {
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}

.addBook {
  position: absolute;
  bottom: 40px;
  right: 40px;

  width: 70px;
  height: 70px;

  border-radius: 50%;

  color: #2F52A2;
  text-indent: 14px;
  line-height: 68px;
  font-size: 70px;
  font-weight: bold;
  text-decoration: none;

  background-color: gainsboro;

  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.4);
}

.bookImage {
  height: 150px;
  box-shadow: 0px 2px 40px -20px rgba(0, 0, 0, 0.75);
  border-radius: 7px;
  display: block;
}

.hidden {
  display: none !important;
}