@font-face {
  font-family: "rubik";
  src: url("fonts/Rubik.ttf");
}

* {
  font-family: "rubik";
}

body {
  margin: 0;
}

#headerIframe {
  display: block;
  border: none;
  width: 100%;
  height: 58px;
  overflow: hidden;
  scroll-behavior: unset;
}

.hidden {
  display: none !important;
}